:root {
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --primary-color: #FFFFFF;
    --accent-color: #2196F3;
    --color-logo: #000000;
    --hero-background: #2F303A;
    --adress-contact-color: rgba(255, 255, 255, 0.6);
    --button-portfolio-color: #F5F4FA;
    --active-herobuttom-background: #188CE8;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-title-color)
}
ul {
    list-style: none;
}
.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* webstudio */
/* header */
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.header-logo {
    color: var(--accent-color);
}
.nav-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}
.current {
    color: var(--accent-color);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
    color: var(--accent-color);
}
.contact {
    color: var(--primary-text-color);
}
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}
/* hero */
.hero {
    color: var(--primary-color);
    background-color: var(--hero-background);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
button {
    cursor: pointer;
    font-family: inherit;
}
.button-hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    background-color: var(--accent-color);

}
.primary:hover,
.primary:focus {
    color: var(--primary-color);
    background-color: var(--active-herobuttom-background);
}
/*features */
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}
/* work */
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-title-color);
}
.worker-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-title-color);
}
.worker-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
} 
/* portfolio button main */
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    background: var(--button-portfolio-color);
}
.button:hover,
.button:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
}
/* portfolio main */
.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color)
}
.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color)
}
/* footer */
.footer {
    background-color: var(--hero-background);

}
.footer-logo  {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-color);
}
.adress-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-color);
}
.adress-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover,
.adress-link:focus,
.adress-contact:hover,
.adress-contact:focus {
    color: var(--accent-color);
}